<!DOCTYPE html>
<html>
<head>
    <title>Create New Form Field</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <form id="myForm">
        <div id="formFields">
            <div>
                <label for="name">Name:</label>
                <input type="text" name="name[]" required>
                <label for="password">Password:</label>
                <input type="password" name="password[]" required>
            </div>
        </div>
        <button type="button" onclick="addFormField()">Add Field</button>
        <button type="submit">Submit</button>
    </form>

    <script>
        function addFormField() {
            var formFieldsContainer = $('#formFields');
            var newField = $('<div>');
            newField.html(
                '<label for="name">Name:</label>' +
                '<input type="text" name="name[]" required>' +
                '<label for="password">Password:</label>' +
                '<input type="password" name="password[]" required>'
            );
            formFieldsContainer.append(newField);
        }
    </script>
</body>
</html>
